.infoSection {
  background-color: #acc1c3;
}

.agenciesImage {
  height: 400px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 7px 7px 5px #c4e4e9;
}

.secondText {
  font-size: 20px;
  text-align: justify;
}

.title {
  font-family: 'Playfair Display';
  text-align: left;
  font-weight: 800;
}

.arrow {
  padding: 0 10px;
  font-size: 14px;
}

.redirectLink {
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: 'League Spartan', sans-serif;
}

.redirectLink:hover {
  color: #db634d;
  transition: all 0.1s;
}