.infoSection {
  background-color: #acc1c3;
}

.interviewImage {
  height: 450px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 7px 7px 5px #c4e4e9;
}

@media screen and (max-width: 950px) {
  .interviewImage{
    width: 448px;
    height: 480px;
  }
}

@media screen and (max-width: 650px) {
  .interviewImage{
    height: 384px;
    width: 352px;
  }
}

.secondText {
  font-size: 20px;
  text-align: justify;
  padding: 20px 0;
}

.title {
  font-family: 'Playfair Display';
  text-align: left;
  font-weight: 800;
}

.arrow {
  padding: 0 10px;
  font-size: 14px;
}

.redirectLink {
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: 'League Spartan', sans-serif;
}

.redirectLink:hover {
  color: #db634d;
  transition: all 0.4s;
}
