.introText {
  font-size: 20px;
  text-align: justify;
  padding: 20px 0;
}

.title {
  font-family: 'Playfair Display';
  text-align: center;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.signature {
  font-family: 'Reenie Beanie';
  text-align: center;
  font-size: 40px;
}
