.layout {
  display: flex;
  padding: 30px 0;
}

.leftColumn {
  flex: 1;
  text-align: left;
  margin-left: 10%;
  padding-top: 10%;
}

.rightColumn {
  flex: 1;
	margin-right: 10%;
  text-align: right;
}

.heroImage {
  width: 28rem;
  height: 40rem;
  border-radius: 12px;
  box-shadow: 7px 7px 5px rgb(246, 185, 185);
}
