.networkingImg {
  height: 500px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 7px 7px 5px rgb(246, 185, 185);
}

@media screen and (max-width: 950px) {
  .networkingImg{
    height: 300px;
  width: 400px;
  }
}

@media screen and (max-width: 650px) {
  .networkingImg{
    height: 200px;
    width: 250px;
  }
}

.secondText {
  font-size: 20px;
  text-align: justify;
  padding: 20px 0;
}

.title {
  font-family: 'Playfair Display';
  text-align: left;
  font-weight: 800;
}

.arrow {
  padding: 0 10px;
  font-size: 14px;
}

.redirectLink {
  display: flex;
  align-items: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
	font-family: 'League Spartan', sans-serif;
}

.redirectLink:hover {
  color: #db634d;
  transition: all 0.4s;
}
