.infoSection{
    padding: 10%;
    background-color: #acc1c3;
}
.interviewImage{
    height: 400px;
    width: 500px;
}
.infoSection{
    padding: 10%;
    display: flex;
    justify-content: space-between;
}
.secondText{
    font-size: 20px;
    padding-left: 10%;
    text-align: justify;
}