.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 1.5rem 1rem;
  z-index: 21;
  backdrop-filter: blur(15px);
}

.navbarWrapper {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  list-style: none;
}

.styleLogo {
  width: 120px;
  height: 50px;
}

.navLinkItem {
  padding-right: 2.5rem;
}

.navLinkText {
  color: hsl(240, 100%, 2%);
  text-decoration: none;
  font-weight: 400;
}

.navLinkText:hover {
  color: #db634d;
  transition: all 0.4s;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #e8e8f3;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li:first-child {
  padding-left: 20rem;
}

.sidebarNavItem {
  padding: 20px;
  width: 84%;
  display: flex;
  align-items: center;
}

.sidebarLinkText {
  color: hsl(240deg 60% 25%);
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

.menu {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbarWrapper {
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .menu {
    display: none;
  }
}

@media (max-width: 1025px) {
  .navbar {
    height: 11%;
  }

  .navbarWrapper {
    margin: 0 30px;
  }

  .navLinkItem {
    display: none;
  }

  .sidebar {
    width: 100%;
  }

  .styleLogo {
    margin-left: 1rem;
  }
}
