.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 1.5rem 1rem;
  z-index: 21;
  backdrop-filter: blur(15px);
}

.navbarWrapper {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  list-style: none;
}

.styleLogo {
  width: 160px;
  height: 120px;
}

.navLinkItem {
  padding-right: 2.5rem;
}

.navLinkText {
  color: hsl(240, 100%, 2%);
  text-decoration: none;
  font-weight: 400;
}

.navLinkText:hover {
  color: #db634d;
  transition: all 0.4s;
}

.menu {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .navbarWrapper {
    margin: 0 auto;
  }
}

@media (min-width: 1025px) {
  .menu {
    display: none;
  }
}

@media (max-width: 1025px) {
  .navbar {
    height: 11%;
  }

  .navbarWrapper {
    margin: 0 30px;
  }

  .navLinkItem {
    display: none;
  }

  .sidebar {
    width: 100%;
  }

  .styleLogo {
    margin-left: 1rem;
  }
}
